@model X.PagedList.IPagedList<CadProcessosApp.Models.Processo>
    @using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Lista de Processos - ";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h3>Lista de Processos</h3>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a class="btn btn-sm btn-primary" asp-action="Inserir">
                <i class="bi bi-journal-plus"></i> Adicionar Processo
            </a>
        </div>
    </div>
</div>
<div class="table-responsive mx-n1 px-1 scrollbar ">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>&nbsp; NPU</th>
                <th>Data Cadastro</th>
                <th>UF</th>                
                <th>Visualizar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var processo in Model) {
            <tr>
                <td>&nbsp; @processo.NPU</td>
                <td>@processo.DataCadastro</td>
                <td>@processo.UF</td>
                <td>
                    <a class="btn btn-sm btn-default" asp-action="Detalhes" asp-route-id="@processo.Id"><i class="bi bi-eye"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@Html.PagedListPager(Model, pagina => Url.Action("Index", 
    new { pagina }),
    new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
})